body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(135deg, #cdc392 0%, #e8e5da 100%);
    color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: #696550;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.word-display {
    font-size: 24px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.input-section {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #696550;
    color: #fff;
    transition: background-color 0.3s;
    border: 2px solid #cdc392;
}

button:hover {
    background-color: #648de5;
    border-color: #e8e5da;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.attempts {
    margin-top: 10px;
    font-size: 16px;
    color: black;
}

footer {
    background-color: #696550;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
